<h2 class="profile-text"><%= character.name %></h2>
<div class="row">
	<div class="profile-text col-6 my-auto">
		<h5><%= character.gender %></h5>
	</div>
<% if(!character.img) { %>
	<div class="col-6">
		<h5>Add an image:</h5>
		<form action="/character/image/<%= character.id %>" method="POST" enctype="multipart/form-data">
			<input type="file" name="inputFile">
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
<% } else { %>
	<div class="profile-picture col-6">
		<img src="<%= character.img %>">
	</div>
<% } %>
</div>
<div class="row profile-text">
	<div class="col-12">
		<h3>Character Quotes</h3>
	</div>
</div>
<div class="row justify-content-center">
	<% character.quotes.forEach(function(quote) { %>


	<div class="profile-quotes col-lg-auto ml-3">
		"<%= quote.quote %>"
	</div>
 	<% }) %>
</div>