<h1 class="profile-text"><%= data.room %> Chat Room</h1>
<div class="row">
  <div class="col-6">
    <div class="flex-column d-flex" id="messages"></div>
  </div>
  <div class="col-6">
    <div class="row">
    <div class="col-12">
    <label class="search-label">Search Quotes:</label>
    <br>
    <select id="drop-select" class="selectpicker" data-live-search="true" dropdownAlignRight="true">
    <% data.character.quotes.forEach(function(quote) { %>
    <% let index = 0; %>
      <option id="drop-<%= index %>" data-tokens="<%= quote.quote.slice(0,30) %>">
        <%= quote.quote %>
      </option>
    <% index++; %>
    <% }) %>
    </select>
    <form class="form-inline chat-form" action="">
     <input id="m" class="form-control" autocomplete="off" disabled="true" /><button class="btn btn-dark">Chat</button>
    </form>
    </div>
    </div>
<h6>Full List of Quotes:</h6>
<ul id="quote-list">
  <% let index = 0; %>
  <% data.character.quotes.forEach(function(quote) { %>
  <li>
    <button type="button" class="btn btn-dark quotes" id="quote-<%= index %>"><%= quote.quote %></button>
  </li>
  <% index++; %>
  <% }) %>
</ul>
  </div>
</div>
 <script src="/socket.io/socket.io.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 <script>
  let domMessages = document.querySelector('#messages');
  let isScrolledToBottom = domMessages.scrollHeight - domMessages.clientHeight <= domMessages.scrollTop;

      $(function () {
        var socket = io();
        socket.emit('change room', '<%= data.room %>')
        $('.quotes').click(function(){
          let quoteId = $(this).attr('id');
          console.log(quoteId)
          let getQuote = '#' + quoteId;
          $('#m').val($(getQuote).text())
        })
        $('#drop-select').on('hide.bs.select', function (e, clickedIndex, isSelected, previousValue) {
          $('#m').val(e.target.value);
        })
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          let charImage = "<%= data.character.img %>&";
          if(!charImage){
            charImage = "<%= data.character.name %>: "
          }
          socket.emit('<%=data.room %> message', charImage + $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('<%= data.room %> message', function(msg){
          if(msg.includes('https://')){
            let msgSplit = msg.split('&');
            console.log(msgSplit);
            $('#messages').append($('<div>', {class: 'p-2 message-row'}).text(msgSplit[1]).prepend($('<img>',{class: 'message-img', src: msgSplit[0]})));
            if(isScrolledToBottom) {
              domMessages.scrollTop = domMessages.scrollHeight - domMessages.clientHeight;
            }            
          } else {
            $('#messages').append($('<li>').text(msg));
            if(isScrolledToBottom) {
              domMessages.scrollTop = domMessages.scrollHeight - domMessages.clientHeight;
            }    
          }
        });
      });
</script>